.link {
    display: none;
}

.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-bottom: solid gold 3px;
    position: fixed;
    z-index: 10;
    background: white;
    top: 0;
}

.toggle-button {
    margin-left: 1.25rem;
    width: 3rem;
    background: transparent;
    border: none;
    cursor: pointer;
    padding-top: 0;
    padding-bottom: 0;
    vertical-align: middle;
}

.toggle-button:focus {
    outline: none;
}

.toggle-button__bar {
    width: 100%;
    height: 0.2rem;
    background: black;
    display: block;
    margin: 0.6rem 0;
}

.logo {
    
    order: 2;
  
}

.brand {
    display: none;
    color: black;
    text-decoration: none;
    font-weight: bold;
    font-size: 40px;
    margin-top: 10px;
}

.logo, .logo a, .goat {
    align-items: center;
}

.goat {
    margin-right: 1.25rem;
    background: url("/images/Black_Goat.png");
    width: 3.125rem;
    height: 3.123rem;
    background-size: contain;
}

.main {
    display: none;
}


.main-item {
    display: none;
    margin-top: 5px;
}

.auth { 
    display: none;
}

.main-item a, .dropbtn{
    color: black;
    text-decoration: none;
    padding: .1875rem .1875rem;
}

.main-item a:hover,
.main-item a:active {
    color: gold;
    background: rgb(0, 0, 0);
    border-radius: 5px;
    /* border-radius: 10%; */
}


li.dropdown {
    display: inline-block;
}

@media (min-width: 40rem) {
    .toggle-button {
        display: none;
    }
    .goat {
        order: 1;
        display: inline;
        margin: 0 0 0 1.25rem;
        padding: 0;
    }
   
    .logo {
        display: flex;
        justify-self: flex-start;
    }

    .brand {
        display: inline;
        order: 2;
    }

    .main-item {
        display: inline-block;
        padding-right: 3%;
        
    }

    .main {
        display: inline-block;
        text-align: right;
        width: 70%;
        vertical-align: middle;
        order: 3;
    }

    .main-items {
        list-style: none;
        text-align: right;
        
    }

    .auth {        
        order: 4;
        margin-left: 40px;
        list-style: none;
        display: flex;
        align-items: center;
        min-width: 150px;
        justify-content: right;
    }

    .auth a {
        font-size: 20px;
        font-weight: bold;
    }
}

@media (min-width: 770px) {
    
    
}