.trophies {
    height: 5rem;
    border-radius: 1rem;
    text-align: center;
    vertical-align: middle;
    border: .0625rem solid black;
    background: rgba(147, 152, 153, 0.541);
    margin: 5% auto 0 auto;
}