.container {
    margin-top: 3.06rem;
    padding-top: 1.25rem;
    text-align: center;
    font-size: 12px;
}

@media (min-width: 40rem) {
    
    .container {
        padding-top: 1.25rem;
    }
}

@media (min-width: 770px) {
    
    
}