.critic-profile {
    max-width: 21rem;
    margin: 0.5rem 0.2rem;
    vertical-align: top;
    background: black;
    color: rgb(216, 201, 201);
    padding: 1rem;
    text-align: left;
    width: 35%;
    min-width: 13rem;
    display: inline-block;
    border-radius: 15px;
}

.critic-header {
    display: flex;
}

.critic-profile img {
    order: 1;
    width: 35px;
    height: 35px;
    border: 2px solid white;
    padding: 0;
    margin-right: 1rem;
}


.critic-name {
    order: 2;
    margin: 0 0 0.3rem 0;
    color: gold;
    text-decoration: underline;
}

.critic-info {
    color: rgb(129, 123, 123);
    font-size: 0.8rem;
    margin: 0 0 1rem 0;
}

.critic-stats {
    padding-left: 20%;
    font-weight: bold;
}

.critic-foot {
    color: rgb(129, 123, 123);
    font-size: 0.8rem;
    margin: 1rem 0 0 0;
    text-align: right;
}

.web-link {
    color: gold;
    float: left;
    font-size: 11px;
    text-decoration: none;
    padding: 0.125rem 0.125rem;
}

@media (min-width: 40rem) {

    .critic-foot {
        font-size: 0.8rem;
       
    }

    .critic-profile,
    .critic-name{
        font-size: $title-font;
    }

    .critic-stats,
    .critic-stats {
        font-size: $stat-font;
    }
    
    .critic-profile {
        max-width: 21rem;
        margin: 0.5rem 0.2rem;
        vertical-align: top;
    }
}

@media (min-width: 770px) {
    
    
}