
.cats {
    display: inline-block;
    margin: 0 1%;
}

.catshead {
    position: sticky;
    top: 0;
    padding: 5px 0 15px 0;
    
    /* font-weight: bold; */
    text-align: center;
    
}

.player-list {
    // font-family: 'Crimson Text', serif;
    font-weight: 900; 
}

@media (min-width: 40rem) {

    .cats {
        margin: 0 2%;
    }

    .catshead {
        font-size: $title-font;
    }
    
    .player-list {
        font-size: $stat-font;
    }
}

@media (min-width: 770px) {

    .cats {
        margin: 0 3.5%;
    }
}