.lists-container {
    display: flex;
    margin-top: 40px;
    justify-content: flex-start;
}

.list-container {
    display: flex;
    flex-direction: column;
    width: 20%;
    font-size: 1rem;
    justify-content: space-between;
    margin: 80px auto;
    min-width: 15.7rem;
    height: 50%;
    // min-height: 300px;
    color: black;
    background: black;
    color: rgb(216, 201, 201);
    padding: 1rem;
    border-radius: 15px;
    
}

.title-list {
    order: 1;
    text-align: left;

    margin: 0 0 0.3rem 0;
    color: gold;
    text-decoration: underline;
    font-size: 1.5rem;
}



.list-container ul {
    order: 2;
    list-style-type: none;
    text-align: left;
}

.player-container {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
}

.delete-player {
    background: black;
    color: gold;
    border-radius: 5px;
}

