.bottom-list {
    order: 3;
}

.bottom-list button {
    margin: 10px 0;
    padding: 5px 0;
    width: 30%;
    align-self: center;
    border-radius: 10px;
}

.bottom-list li:hover,
.bottom-list li:focus,
.tab {
    color: gold;
    background: rgb(83, 81, 81);
    border-radius: 5px;
    cursor: pointer;
}

.bottom-list input {
    padding: 5px 0;
}

.error {
    color: red;
}
